{% load static %}
{% block content %}
<nav class="navbar" style="background-color:#4157fcf8;">
    <div class="container-fluid">
        <a class="navbar-brand " href="#"><img src="{% static 'images/logo1.png' %}" alt="Left Logo"
                class="navbar-logo "></a>
        <a href="#" class="navbar-brand fs-1 badge  text-wrap">C.S.T.L</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Trans</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">تسجيل وسيلة النقل</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ارسال طرود
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="request.html">ارسال طرد محلي</a></li>
                            <li><a class="dropdown-item" href="request.html">ارسال طرد دولي</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

{% endblock %}